/Ghostpad-Electron
/reference
.DS_Store
/external
*.elf
*.elf
/git-patch
*.elf
*.rej
esp32-ghostpad/sdkconfig.defaults
*.defaults
*.bak
/Ghostpad-app/node_modules
/Ghostpad-app/react
Ghostpad-app/pnpm-lock.yaml
Ghostpad-app/react/src/.DS_Store
*.log
/Ghostpad-native/build
/deprecated/Ghostpad-app/node_modules
/deprecated/Ghostpad-app/react/build
/deprecated/Ghostpad-app/react/node_modules
*.orig
/esp32-ghostpad/patch
/esp32-ghostpad/components/btstack/3rd-party/lc3-google/conformance
/esp32-ghostpad/components
*.old
*.txt
*.gif
/build-test
